@page "/redigerbruger"
@using Common.Model
@using System.Web
@using Client.Services
@inject IJSRuntime JSRuntime // Injecter 'IJSRuntime' for at muliggøre interaktion med JavaScript på klienten .
@inject NavigationManager NavigationManager
@inject HttpClient http
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage


<div class="row">
    <div class="col"></div>
    <div class="col" style="display:@loading;">
        <h1 style="margin-right: .5em;">Henter data</h1>

        <img src="https://media.tenor.com/On7kvXhzml4AAAAj/loading-gif.gif" style="width: 35px;height: 35px" />
    </div>
    <div class="col"></div>
</div>

<div class="logout-button-container">
    <button class="logout-button" @onclick="Logout">Log ud</button>
</div>


<div class="row">
    <div class="col-sm-4">


        <EditForm Model="@aEditContext" OnValidSubmit="HandleValidSubmit">
            <DataAnnotationsValidator />
            <h3>Rediger information</h3>
            <hr />
            <ValidationSummary />
            <div class="form-group row">
                <label for="firstName" class="col-sm-3 col-form-label">
                    Fornavn
                </label>
                <div class="col-sm-6">
                    <InputText id="Fornavn" class="form-control" placeholder="@bruger.Fornavn"
                               @bind-Value="bruger.Fornavn" />
                    <ValidationMessage For="@(() => bruger.Fornavn)" />
                </div>
            </div>
            <div class="form-group row">
                <label for="Efternavn" class="col-sm-3 col-form-label">
                    Efternavn
                </label>
                <div class="col-sm-6">
                    <InputText id="lastName" class="form-control" placeholder="@(() => bruger.Efternavn)"
                               @bind-Value="bruger.Efternavn" />
                    <ValidationMessage For="@(() => bruger.Efternavn)" />
                </div>
            </div>
            <div class="form-group row">
                <label for="Telefonummer" class="col-sm-3 col-form-label">
                    Telefonnummer
                </label>
                <div class="col-sm-6">
                    <InputNumber id="email" class="form-control" placeholder="Telefonnummer"
                                 @bind-Value="bruger.Telefonnummer" />
                    <ValidationMessage For="@(() => bruger.Telefonnummer)" />
                </div>
            </div>
            <div class="form-group row">
                <label for="Addresse" class="col-sm-3 col-form-label">
                    Addresse
                </label>
                <div class="col-sm-6">
                    <InputText id="confirmEmail" class="form-control"
                               @bind-Value="bruger.Adresse" />
                    <ValidationMessage For="@(() => bruger.Adresse)" />
                </div>
            </div>
            <div class="form-group row">
                <label for="Email" class="col-sm-3 col-form-label">
                    Email
                </label>
                <div class="col-sm-6">
                    <InputText id="confirmEmail" class="form-control"
                               @bind-Value="bruger.Email" />
                    <ValidationMessage For="@(() => bruger.Email)" />
                </div>
            </div>
            <div class="form-group row">
                <label for="Fødselsdagsdato" class="col-sm-3 col-form-label">
                    Fødselsdagsdato
                </label>
                <div class="col-sm-6">
                    <InputDate @bind-Value="bruger.Fødselsdag" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label for="Password" class="col-sm-3 col-form-label">
                    Password
                </label>
                <div class="col-sm-6">
                    <InputText @bind-Value="bruger.Password" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label for="isKoordinator" class="col-sm-3 col-form-label">Er koordinator:</label>
                <div class="col-sm-6">
                    <label class="form-control locked">@bruger.IsKoordinator</label>
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Gem</button>
            <div>
                @if (showMessage)
                {
                    <div class="alert alert-success">
                        Dine oplysninger er gemt.
                    </div>
                }
            </div>

        </EditForm>
    </div>
    <div class="col">
        <div>
            <h3>Mine Vagter </h3>
            <hr />
            <div class="row">
                <div class="col">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Navn</th>
                                <th>Point</th>
                                <th>Start</th>
                                <th>Slut</th>
                                <th>Beskrivelse</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var vagt in myvagtlist)
                            {
                                <tr>
                                    <td>@vagt.Navn</td>
                                    <td>@vagt.Point</td>
                                    <td>@vagt.Start</td>
                                    <td>@vagt.Slut</td>
                                    <td>@vagt.Beskrivelse</td>
                                    <td>
                                        @if (vagt.isLocked == true)
                                        {
                                            <button class="btn btn-secondary">Vagten er låst</button>
                                        }
                                        else if (vagt.isLocked == false)
                                        {
                                            <button class="btn btn-danger" @onclick="() => AfmeldVagt(vagt, UrlId)">Afmeld Vagt</button>
                                        }
                                    </td>
                                </tr>
                                brugervagtersomid.Add(vagt.ID);
                                vagtCounter++;
                                pointSum += vagt.Point;


                            }
                        </tbody>
                    </table>
                    <div>
                        Antal taget vagter: @vagtCounter
                        <br />
                        Samlet antal point: @pointSum
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />


@code {
    private Bruger bruger = new Bruger();
    private Bruger[]? brugerlist = new Bruger[0];
    private List<int> brugervagtersomid = new List<int>();
    private Vagt[]? myvagtlist = new Vagt[0]; // Opretter en tom liste af booking objekter
    private int UrlId = 0; // Deklarerer en variabel til at holde på ID'en fra URL'en


    private bool showMessage = false;

    private string loading = "none";



    private EditContext aEditContext;

    [Inject]
    private IBrugerService mService { get; set; }
    [Inject]
    private IVagtService vService { get; set; }


    public async Task HandleValidSubmit()
    {
        bruger.ID = UrlId;
        await UpdateBruger();
        showMessage = true;

    }

    public async Task UpdateBruger()
    {
        await mService.UpdateBruger(bruger);
    }


    private async Task AfmeldVagt(Vagt vagt, int bruger)
    {
        vService.AfmeldVagt(vagt, bruger);
        await Refresh();
    }

    private void Logout()
    {
        NavigationManager.NavigateTo("/");
    }

    public async Task Refresh()
    {
        await JSRuntime.InvokeVoidAsync("eval", "window.location.reload();"); // Genindlæs siden ved at kalde JavaScript-funktionen "window.location.reload();"
    }

    int vagtCounter = 0;

    int pointSum = 0;
}

